<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsoft.auth.repository.UserPermissionRepository">
    <select id="getUserPermissionDeptIdByLoginId" resultType="String">
        SELECT T_XMQX.glqx FROM bsoftmis.T_XMQX where T_XMQX.flag = 1 and T_XMQX.lx = 6 and T_XMQX.loginid = #{param1}
    </select>

</mapper>
