<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsoft.work.repository.primary.PolicyRepository">


    <select id="findByQueryCnd" resultType="com.bsoft.work.entity.primary.PolicyDO">
        select * from(
        SELECT
        a.*,
        b.COUNCILNAME AS councilName,
        c.STATUS AS readStatus ,
        c.PERSONID as PERSONID
        FROM
        POL_POLICY a
        LEFT JOIN POL_MANAGER_GROUP b ON a.COUNCILID = b.COUNCILID
        LEFT JOIN POL_POLICY_READ c ON a.ID = c.POLICYID
        ) a
        <where>
            <if test="queryCnd.councilId !=null and queryCnd.councilId != 0">
                and a.COUNCILID= #{queryCnd.councilId,jdbcType = NUMERIC}
            </if>
            <if test="queryCnd.startTime!=null and queryCnd.startTime!='' and queryCnd.endTime!=null and queryCnd.endTime!=''">
                and a.PUBLISHDATE between to_date(#{queryCnd.startTime,jdbcType = VARCHAR}, 'yyyy-MM-dd hh24:mi:ss') and
                to_date(#{queryCnd.endTime,jdbcType = VARCHAR}, 'yyyy-MM-dd hh24:mi:ss')
            </if>
            <if test="queryCnd.inputContent !=null and queryCnd.inputContent!=''">
                and (a.KEYWORD like '%' || #{queryCnd.inputContent,jdbcType = VARCHAR} || '%' or a.TITLE like '%' ||
                #{queryCnd.inputContent,jdbcType = VARCHAR} || '%')
            </if>
            <if test="queryCnd.personId !=null and queryCnd.personId!= 0">
                and a.PERSONID=#{queryCnd.personId,jdbcType = VARCHAR}
            </if>
            <if test="queryCnd.readStatus!=null ">
                and a.readStatus=#{queryCnd.readStatus,jdbcType = NUMERIC}
            </if>
            <if test="queryCnd.status !=null">
                and a.STATUS= #{queryCnd.status,jdbcType = NUMERIC}
            </if>
            and a.DEADLINEDATE  &gt;= sysdate
        </where>
        order by a.DEADLINEDATE asc
    </select>


    <select id="selectReadByQueryCnd" resultType="com.bsoft.work.entity.primary.PolicyDO">
        SELECT
        policy.TITLE,
        policy.COUNCILID,
        policy.PUBLISHDATE,
        policy.DEADLINEDATE,
        manager.COUNCILNAME as councilName,
        (
        SELECT
        COUNT( a.id )
        FROM
        POL_POLICY a
        LEFT JOIN POL_POLICY_READ b ON a.id = b.POLICYID
        WHERE
        a.id = policy.id
        AND b.STATUS = 0
        ) noRead,
        (
        SELECT
        COUNT( a.id )
        FROM
        POL_POLICY a
        LEFT JOIN POL_POLICY_READ b ON a.id = b.POLICYID
        WHERE
        a.id = policy.id
        AND b.STATUS = 1
        ) isRead
        FROM
        (select * from (select a.*,ROWNUM rowno from POL_POLICY a )) policy
        left join POL_MANAGER_GROUP manager on policy.COUNCILID=manager.COUNCILID
        <where>
            policy.status=2
            <if test="queryCnd.startTime!=null and queryCnd.startTime!='' and queryCnd.endTime!=null and queryCnd.endTime!=''">
                and policy.PUBLISHDATE between to_date(#{queryCnd.startTime}, 'yyyy-MM-dd hh24:mi:ss') and
                to_date(#{queryCnd.endTime}, 'yyyy-MM-dd hh24:mi:ss')
            </if>
            <if test="queryCnd.inputContent !=null and queryCnd.inputContent!=''">
                and (policy.KEYWORD like '%' || #{queryCnd.inputContent} || '%' or policy.TITLE like '%' ||
                #{queryCnd.inputContent} || '%' or manager.COUNCILNAME like '%' || #{queryCnd.inputContent} || '%')
            </if>
            and policy.rowno BETWEEN (#{queryCnd.current}-1)*#{queryCnd.pageSize} and #{queryCnd.current}*#{queryCnd.pageSize}
        </where>
    </select>
</mapper>