<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsoft.project.report.repository.primary.ContractLevelWorkloadRepository">
    <select id="findAllSubTotal" parameterType="Integer" resultType="com.bsoft.project.report.entity.primary.ContractLevelworkloadAllDO">
         SELECT (SELECT DMMC FROM BSOFTMIS.GY_DMZD WHERE GY_DMZD.DMLB = 1501 AND GY_DMZD.DMSB &lt;&gt; 0 AND GY_DMZD.DMSB = BB.YWGS) CareerGroupText,
        WH_ZZJG.BMMC LargeAreaText,
        T_DEP.BMMC SmallAreaText,
        (SELECT BMMC FROM BSOFTMIS.T_DEP WHERE T_DEP.BMDM = BB.YJBM) MoneyBackDeptText,
        (SELECT BMMC FROM BSOFTMIS.T_DEP WHERE T_DEP.BMDM = BB.XSYJBM) SaleDeptText,
        '_' || KH_HTXX.KHBM CustomerCode,
        KH_JBXX.KHMC CustomerName,
        KH_HTXX.CONTRACTNO ContractNo,
        KH_HTXX.HTMC ContractName,
        KH_HTXX.HTE ContractAmount,
        (KH_HTXX.RJFW + KH_HTXX.RJCGCB + KH_HTXX.QTCB) ContractSoftwareAmount,
        KH_HTXX.RJFW SoftwareServiceAmount,
        KH_HTXX.ZK DiscountRate,
        KH_HTXX.QDRQ ContractSigningDate,
        KH_HTXX.KHRQ ContractAssessmentDate,
        SUM(CASE WHEN INSTR(AA.GRADE,'T')>0 THEN AA.workload ELSE 0 END) Workload,
        SUM(DECODE(AA.grade,'T00',AA.workload,0)) T00,
        SUM(DECODE(AA.grade,'T01',AA.workload,0)) T01,
        SUM(DECODE(AA.grade,'T02',AA.workload,0)) T02,
        SUM(DECODE(AA.grade,'T03',AA.workload,0)) T03,
        SUM(DECODE(AA.grade,'T04',AA.workload,0)) T04,
        SUM(DECODE(AA.grade,'T05',AA.workload,0)) T05,
        SUM(DECODE(AA.grade,'T06',AA.workload,0)) T06,
        SUM(DECODE(AA.grade,'T07',AA.workload,0)) T07,
        SUM(DECODE(AA.grade,'T08',AA.workload,0)) T08,
        SUM(DECODE(AA.grade,'T09',AA.workload,0)) T09,
        SUM(DECODE(AA.grade,'T10',AA.workload,0)) T10,
        SUM(DECODE(AA.grade,'T11',AA.workload,0)) T11,
        SUM(DECODE(AA.grade,'T12',AA.workload,0)) T12,
        SUM(DECODE(AA.grade,'T13',AA.workload,0)) T13,
        SUM(DECODE(AA.grade,'T14',AA.workload,0)) T14,
        SUM(DECODE(AA.grade,'T15',AA.workload,0)) T15,
        SUM(DECODE(AA.grade,'T16',AA.workload,0)) T16,
        SUM(DECODE(AA.grade,'T17',AA.workload,0)) T17,
        SUM(DECODE(AA.grade,'T18',AA.workload,0)) T18,
        SUM(DECODE(AA.grade,'T19',AA.workload,0)) T19,
        SUM(DECODE(AA.grade,'T20',AA.workload,0)) T20,
        SUM(DECODE(AA.grade,'T21',AA.workload,0)) T21,
        SUM(DECODE(AA.grade,'T22',AA.workload,0)) T22,
        SUM(DECODE(AA.grade,'T23',AA.workload,0)) T23,
        SUM(DECODE(AA.grade,'T24',AA.workload,0)) T24,
        SUM(DECODE(AA.grade,'T25',AA.workload,0)) T25,
        SUM(DECODE(AA.grade,'T26',AA.workload,0)) T26,
        SUM(DECODE(AA.grade,'T27',AA.workload,0)) T27,
        SUM(DECODE(AA.grade,'T28',AA.workload,0)) T28,
        SUM(DECODE(AA.grade,'T29',AA.workload,0)) T29,
        SUM(DECODE(AA.grade,'T30',AA.workload,0)) T30,
        SUM(DECODE(AA.grade,'T31',AA.workload,0)) T31,
        SUM(DECODE(AA.grade,'T32',AA.workload,0)) T32,
        SUM(DECODE(AA.grade,'T33',AA.workload,0)) T33,
        SUM(DECODE(AA.grade,'T34',AA.workload,0)) T34,
        SUM(DECODE(AA.grade,'T35',AA.workload,0)) T35,
        SUM(DECODE(AA.grade,'T36',AA.workload,0)) T36,
        SUM(DECODE(AA.grade,'T37',AA.workload,0)) T37,
        SUM(DECODE(AA.grade,'T38',AA.workload,0)) T38,
        SUM(DECODE(AA.grade,'T39',AA.workload,0)) T39,
        SUM(DECODE(AA.grade,'T40',AA.workload,0)) T40,
        SUM(DECODE(AA.grade,'P0',AA.workload,0)) P0,
        SUM(DECODE(AA.grade,'P1',AA.workload,0)) P1,
        SUM(DECODE(AA.grade,'P2',AA.workload,0)) P2,
        SUM(DECODE(AA.grade,'P3',AA.workload,0)) P3,
        SUM(DECODE(AA.grade,'P4',AA.workload,0)) P4,
        SUM(DECODE(AA.grade,'P5',AA.workload,0)) P5,
        SUM(DECODE(AA.grade,'P6',AA.workload,0)) P6,
        SUM(DECODE(AA.grade,'P7',AA.workload,0)) P7,
        SUM(DECODE(AA.grade,'P8',AA.workload,0)) P8,
        SUM(DECODE(AA.grade,'P9',AA.workload,0)) P9,
        SUM(DECODE(AA.grade,'P10',AA.workload,0)) P10,
        SUM(DECODE(AA.grade,'P11',AA.workload,0)) P11,
        SUM(DECODE(AA.grade,'P12',AA.workload,0)) P12,
        SUM(DECODE(AA.grade,'P13',AA.workload,0)) P13,
        SUM(DECODE(AA.grade,'P14',AA.workload,0)) P14,
        SUM(DECODE(AA.grade,'P15',AA.workload,0)) P15

        FROM KER_REPORT_MANCOST_VIEW AA ,(select t_project.contractno,
        A.BM1,
        T_PROJECT.YJBM,
        T_PROJECT.XSYJBM,
        T_PROJECT.AREA,
        T_PROJECT.YWGS,
        T_PROJECT.ACTTO,
        T_PROJECT.FLAG,
        T_PROJECT.PROJECTTYPE,
        T_PROJECT.CONAMOUNT,
        T_PROJECT.PROJECTNAME,
        row_number() over(partition by t_project.contractNo order by t_project.conamount desc) as rn
        from bsoftmis.t_project left outer join (SELECT BM1,BMDM FROM BSOFTMIS.WH_BMGL WHERE GLNF = (SELECT MAX(GLNF) FROM BSOFTMIS.WH_BMGL)) A ON A.BMDM = T_PROJECT.AREA
        where t_project.flag in ('1','5') and
        t_project.ywdl in (1,2) and
        t_project.ywgs = 1) BB,
        BSOFTMIS.T_DEP,BSOFTMIS.WH_ZZJG,BSOFTMIS.KH_JBXX,BSOFTMIS.KH_HTXX,
        (SELECT DMSB,DMMC FROM BSOFTMIS.T_DMZD WHERE T_DMZD.DMLB = 910 AND T_DMZD.DMSB &lt;&gt; 0) XMLB,
        (SELECT DMSB,DMMC FROM BSOFTMIS.T_DMZD WHERE T_DMZD.DMLB = 903 AND T_DMZD.DMSB &lt;&gt; 0) XMLX
        WHERE AA.CONTRACTNO = KH_HTXX.CONTRACTNO AND
        KH_JBXX.KHBM = KH_HTXX.KHBM AND
        T_DEP.BMDM = BB.AREA AND
        WH_ZZJG.BMID = BB.BM1 AND
        XMLB.DMSB = BB.FLAG AND
        XMLX.DMSB = BB.PROJECTTYPE AND
        AA.CONTRACTNO = BB.CONTRACTNO AND
        KH_HTXX.QDRQ >= DATE'2010-01-01' AND
        BB.RN = 1 AND
        AA.YEAR BETWEEN #{param1} AND #{param2}
        GROUP BY BB.YWGS,BB.BM1,WH_ZZJG.BMMC,BB.AREA,T_DEP.BMMC,BB.YJBM,BB.XSYJBM,KH_HTXX.KHBM,KH_JBXX.KHMC,KH_HTXX.CONTRACTNO,
        KH_HTXX.HTMC,
        KH_HTXX.HTE,
        (KH_HTXX.RJFW + KH_HTXX.RJCGCB + KH_HTXX.QTCB),
        KH_HTXX.RJFW,
        KH_HTXX.QDRQ,
        KH_HTXX.KHRQ,
        BB.PROJECTNAME,
        BB.CONAMOUNT,
        BB.FLAG,
        XMLB.DMMC,
        BB.PROJECTTYPE,
        XMLX.DMMC,
        CASE WHEN BB.ACTTO &lt;= SYSDATE THEN '已验收' ELSE '未验收' END,
        KH_HTXX.ZK
    </select>

    <select id="findAllGroupByYear" parameterType="Integer" resultType="com.bsoft.project.report.entity.primary.ContractLevelworkloadAllByYearDO">
        select * from bsoft_portal.ker_report_work_con_y_view where year between #{param1} and #{param2}  order by year desc
    </select>

    <select id="findAllGroupByMonth" parameterType="Integer" resultType="com.bsoft.project.report.entity.primary.ContractLevelworkloadAllByMonthDO">
        select * from bsoft_portal.ker_report_work_con_m_view where year between #{param1} and #{param2}  order by year desc
    </select>

    <select id="findDepTypeSubTotal" parameterType="Integer" resultType="com.bsoft.project.report.entity.primary.ContractLevelworkloadAllByDepDO">
        SELECT (SELECT DMMC FROM BSOFTMIS.GY_DMZD WHERE GY_DMZD.DMLB = 1501 AND GY_DMZD.DMSB &lt;&gt; 0 AND GY_DMZD.DMSB = BB.YWGS) CareerGroupText,
        WH_ZZJG.BMMC LargeAreaText,
        T_DEP.BMMC SmallAreaText,
        (SELECT BMMC FROM BSOFTMIS.T_DEP WHERE T_DEP.BMDM = BB.YJBM) MoneyBackDeptText,
        (SELECT BMMC FROM BSOFTMIS.T_DEP WHERE T_DEP.BMDM = BB.XSYJBM) SaleDeptText,
        '_' || KH_HTXX.KHBM CustomerCode,
        KH_JBXX.KHMC CustomerName,
        KH_HTXX.CONTRACTNO ContractNo,
        KH_HTXX.HTMC ContractName,
        KH_HTXX.HTE ContractAmount,
        (KH_HTXX.RJFW + KH_HTXX.RJCGCB + KH_HTXX.QTCB) ContractSoftwareAmount,
        KH_HTXX.RJFW SoftwareServiceAmount,
        KH_HTXX.ZK DiscountRate,
        KH_HTXX.QDRQ ContractSigningDate,
        KH_HTXX.KHRQ ContractAssessmentDate,
        CASE WHEN AA.DEPTYPE = 1 THEN '小区内' WHEN AA.DEPTYPE = 2 THEN '小区外大区内' WHEN AA.DEPTYPE = 3 THEN '大区外' END DEPTYPE,
        SUM(CASE WHEN INSTR(AA.GRADE,'T')>0 THEN AA.workload ELSE 0 END) Workload,
        SUM(DECODE(AA.grade,'T00',AA.workload,0)) T00,
        SUM(DECODE(AA.grade,'T01',AA.workload,0)) T01,
        SUM(DECODE(AA.grade,'T02',AA.workload,0)) T02,
        SUM(DECODE(AA.grade,'T03',AA.workload,0)) T03,
        SUM(DECODE(AA.grade,'T04',AA.workload,0)) T04,
        SUM(DECODE(AA.grade,'T05',AA.workload,0)) T05,
        SUM(DECODE(AA.grade,'T06',AA.workload,0)) T06,
        SUM(DECODE(AA.grade,'T07',AA.workload,0)) T07,
        SUM(DECODE(AA.grade,'T08',AA.workload,0)) T08,
        SUM(DECODE(AA.grade,'T09',AA.workload,0)) T09,
        SUM(DECODE(AA.grade,'T10',AA.workload,0)) T10,
        SUM(DECODE(AA.grade,'T11',AA.workload,0)) T11,
        SUM(DECODE(AA.grade,'T12',AA.workload,0)) T12,
        SUM(DECODE(AA.grade,'T13',AA.workload,0)) T13,
        SUM(DECODE(AA.grade,'T14',AA.workload,0)) T14,
        SUM(DECODE(AA.grade,'T15',AA.workload,0)) T15,
        SUM(DECODE(AA.grade,'T16',AA.workload,0)) T16,
        SUM(DECODE(AA.grade,'T17',AA.workload,0)) T17,
        SUM(DECODE(AA.grade,'T18',AA.workload,0)) T18,
        SUM(DECODE(AA.grade,'T19',AA.workload,0)) T19,
        SUM(DECODE(AA.grade,'T20',AA.workload,0)) T20,
        SUM(DECODE(AA.grade,'T21',AA.workload,0)) T21,
        SUM(DECODE(AA.grade,'T22',AA.workload,0)) T22,
        SUM(DECODE(AA.grade,'T23',AA.workload,0)) T23,
        SUM(DECODE(AA.grade,'T24',AA.workload,0)) T24,
        SUM(DECODE(AA.grade,'T25',AA.workload,0)) T25,
        SUM(DECODE(AA.grade,'T26',AA.workload,0)) T26,
        SUM(DECODE(AA.grade,'T27',AA.workload,0)) T27,
        SUM(DECODE(AA.grade,'T28',AA.workload,0)) T28,
        SUM(DECODE(AA.grade,'T29',AA.workload,0)) T29,
        SUM(DECODE(AA.grade,'T30',AA.workload,0)) T30,
        SUM(DECODE(AA.grade,'T31',AA.workload,0)) T31,
        SUM(DECODE(AA.grade,'T32',AA.workload,0)) T32,
        SUM(DECODE(AA.grade,'T33',AA.workload,0)) T33,
        SUM(DECODE(AA.grade,'T34',AA.workload,0)) T34,
        SUM(DECODE(AA.grade,'T35',AA.workload,0)) T35,
        SUM(DECODE(AA.grade,'T36',AA.workload,0)) T36,
        SUM(DECODE(AA.grade,'T37',AA.workload,0)) T37,
        SUM(DECODE(AA.grade,'T38',AA.workload,0)) T38,
        SUM(DECODE(AA.grade,'T39',AA.workload,0)) T39,
        SUM(DECODE(AA.grade,'T40',AA.workload,0)) T40,
        SUM(DECODE(AA.grade,'P0',AA.workload,0)) P0,
        SUM(DECODE(AA.grade,'P1',AA.workload,0)) P1,
        SUM(DECODE(AA.grade,'P2',AA.workload,0)) P2,
        SUM(DECODE(AA.grade,'P3',AA.workload,0)) P3,
        SUM(DECODE(AA.grade,'P4',AA.workload,0)) P4,
        SUM(DECODE(AA.grade,'P5',AA.workload,0)) P5,
        SUM(DECODE(AA.grade,'P6',AA.workload,0)) P6,
        SUM(DECODE(AA.grade,'P7',AA.workload,0)) P7,
        SUM(DECODE(AA.grade,'P8',AA.workload,0)) P8,
        SUM(DECODE(AA.grade,'P9',AA.workload,0)) P9,
        SUM(DECODE(AA.grade,'P10',AA.workload,0)) P10,
        SUM(DECODE(AA.grade,'P11',AA.workload,0)) P11,
        SUM(DECODE(AA.grade,'P12',AA.workload,0)) P12,
        SUM(DECODE(AA.grade,'P13',AA.workload,0)) P13,
        SUM(DECODE(AA.grade,'P14',AA.workload,0)) P14,
        SUM(DECODE(AA.grade,'P15',AA.workload,0)) P15

        FROM KER_REPORT_MANCOST_VIEW AA ,(select t_project.contractno,
        A.BM1,
        T_PROJECT.YJBM,
        T_PROJECT.XSYJBM,
        T_PROJECT.AREA,
        T_PROJECT.YWGS,
        T_PROJECT.ACTTO,
        T_PROJECT.FLAG,
        T_PROJECT.PROJECTTYPE,
        T_PROJECT.CONAMOUNT,
        T_PROJECT.PROJECTNAME,
        row_number() over(partition by t_project.contractNo order by t_project.conamount desc) as rn
        from bsoftmis.t_project left outer join (SELECT BM1,BMDM FROM BSOFTMIS.WH_BMGL WHERE GLNF = (SELECT MAX(GLNF) FROM BSOFTMIS.WH_BMGL)) A ON A.BMDM = T_PROJECT.AREA
        where t_project.flag in ('1','5') and
        t_project.ywdl in (1,2) and
        t_project.ywgs = 1) BB,
        BSOFTMIS.T_DEP,BSOFTMIS.WH_ZZJG,BSOFTMIS.KH_JBXX,BSOFTMIS.KH_HTXX,
        (SELECT DMSB,DMMC FROM BSOFTMIS.T_DMZD WHERE T_DMZD.DMLB = 910 AND T_DMZD.DMSB &lt;&gt; 0) XMLB,
        (SELECT DMSB,DMMC FROM BSOFTMIS.T_DMZD WHERE T_DMZD.DMLB = 903 AND T_DMZD.DMSB &lt;&gt; 0) XMLX
        WHERE AA.CONTRACTNO = KH_HTXX.CONTRACTNO AND
        KH_JBXX.KHBM = KH_HTXX.KHBM AND
        T_DEP.BMDM = BB.AREA AND
        WH_ZZJG.BMID = BB.BM1 AND
        XMLB.DMSB = BB.FLAG AND
        XMLX.DMSB = BB.PROJECTTYPE AND
        AA.CONTRACTNO = BB.CONTRACTNO AND
        KH_HTXX.QDRQ >= DATE'2010-01-01' AND
        BB.RN = 1 AND
        AA.YEAR BETWEEN #{param1} AND #{param2}
        GROUP BY BB.YWGS,BB.BM1,WH_ZZJG.BMMC,BB.AREA,T_DEP.BMMC,BB.YJBM,BB.XSYJBM,KH_HTXX.KHBM,KH_JBXX.KHMC,KH_HTXX.CONTRACTNO,
        KH_HTXX.HTMC,
        KH_HTXX.HTE,
        (KH_HTXX.RJFW + KH_HTXX.RJCGCB + KH_HTXX.QTCB),
        KH_HTXX.RJFW,
        KH_HTXX.QDRQ,
        KH_HTXX.KHRQ,
        BB.PROJECTNAME,
        BB.CONAMOUNT,
        BB.FLAG,
        XMLB.DMMC,
        BB.PROJECTTYPE,
        XMLX.DMMC,
        CASE WHEN BB.ACTTO &lt;= SYSDATE THEN '已验收' ELSE '未验收' END,
        AA.DEPTYPE,
        KH_HTXX.ZK
    </select>

    <select id="findDepTypeGroupByYear" parameterType="Integer" resultType="com.bsoft.project.report.entity.primary.ContractLevelworkloadAllByDepByYearDO">
       select * from bsoft_portal.ker_report_work_con_dep_y_view where year between #{param1} and #{param2}  order by year desc
    </select>

    <select id="findDepTypeGroupByMonth" parameterType="Integer" resultType="com.bsoft.project.report.entity.primary.ContractLevelworkloadAllByDepByMonthDO">
        select * from bsoft_portal.ker_report_work_con_dep_m_view where year between #{param1} and #{param2}  order by year desc
    </select>
</mapper>
