<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsoft.project.report.repository.primary.PGradeAndTGradeRepository">
    <select id="findAllTGrade" parameterType="Integer" resultType="String">
        SELECT CLASSNO FROM BSOFTMIS.T_CLASS WHERE ZXBZ = 0
    </select>
    <select id="findAllPGrade" parameterType="Integer" resultType="String">
       SELECT DMMC FROM BSOFTMIS.GY_DMZD WHERE DMLB = '3002' AND DMSB > 0
    </select>
</mapper>