<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsoft.project.report.repository.primary.ProjectLevelManPowerMoneyRepository">
    <select id="findAllSubTotal" parameterType="Integer" resultType="com.bsoft.project.report.entity.primary.ProjectLevelManPowerMoneyAllDO">
        SELECT A.CareerGroupText,
        A.LargeAreaText,
        A.SmallAreaText,
        A.MoneyBackDeptText,
        A.SaleDeptText,
        A.CustomerCode,
        A.CustomerName,
        A.ContractNo,
        A.ContractName,
        A.ContractAmount,
        A.ContractSoftwareAmount,
        A.SoftwareServiceAmount,
        A.DiscountRate,
        A.ContractSigningDate,
        A.ContractAssessmentDate,
        A.PROJECTID,
        A.ProjectName,
        A.ProjectAmount,
        A.ProjectFlagText,
        A.ProjectTypeText,
        A.AcceptanceStamp,
        SUM(A.AMOUNT) AMOUNT
        FROM KER_REPORT_MANPOWER_MONEY_VIEW A
        where TO_CHAR(A.MONTH,'YYYY') between #{param1} and #{param2}
        GROUP BY A.CareerGroupText,
        A.LargeAreaText,
        A.SmallAreaText,
        A.MoneyBackDeptText,
        A.SaleDeptText,
        A.CustomerCode,
        A.CustomerName,
        A.ContractNo,
        A.ContractName,
        A.ContractAmount,
        A.ContractSoftwareAmount,
        A.SoftwareServiceAmount,
        A.DiscountRate,
        A.ContractSigningDate,
        A.ContractAssessmentDate,
        A.PROJECTID,
        A.ProjectName,
        A.ProjectAmount,
        A.ProjectFlagText,
        A.ProjectTypeText,
        A.AcceptanceStamp
    </select>

    <select id="findAllGroupByYear" parameterType="Integer" resultType="com.bsoft.project.report.entity.primary.ProjectLevelManPowerMoneyAllByYearDO">
        SELECT A.CareerGroupText,
        A.LargeAreaText,
        A.SmallAreaText,
        A.MoneyBackDeptText,
        A.SaleDeptText,
        A.CustomerCode,
        A.CustomerName,
        A.ContractNo,
        A.ContractName,
        A.ContractAmount,
        A.ContractSoftwareAmount,
        A.SoftwareServiceAmount,
        A.DiscountRate,
        A.ContractSigningDate,
        A.ContractAssessmentDate,
        A.PROJECTID,
        A.ProjectName,
        A.ProjectAmount,
        A.ProjectFlagText,
        A.ProjectTypeText,
        A.AcceptanceStamp,
        TO_CHAR(A.MONTH,'YYYY') year,
        SUM(A.AMOUNT) AMOUNT
        FROM KER_REPORT_MANPOWER_MONEY_VIEW A
        where TO_CHAR(A.MONTH,'YYYY') between #{param1} and #{param2}
        GROUP BY A.CareerGroupText,
        A.LargeAreaText,
        A.SmallAreaText,
        A.MoneyBackDeptText,
        A.SaleDeptText,
        A.CustomerCode,
        A.CustomerName,
        A.ContractNo,
        A.ContractName,
        A.ContractAmount,
        A.ContractSoftwareAmount,
        A.SoftwareServiceAmount,
        A.DiscountRate,
        A.ContractSigningDate,
        A.ContractAssessmentDate,
        A.PROJECTID,
        A.ProjectName,
        A.ProjectAmount,
        A.ProjectFlagText,
        A.ProjectTypeText,
        A.AcceptanceStamp,
        TO_CHAR(A.MONTH,'YYYY')
    </select>

    <select id="findAllGroupByMonth" parameterType="Integer" resultType="com.bsoft.project.report.entity.primary.ProjectLevelManPowerMoneyAllByMonthDO">
    SELECT A.CareerGroupText,
        A.LargeAreaText,
        A.SmallAreaText,
        A.MoneyBackDeptText,
        A.SaleDeptText,
        A.CustomerCode,
        A.CustomerName,
        A.ContractNo,
        A.ContractName,
        A.ContractAmount,
        A.ContractSoftwareAmount,
        A.SoftwareServiceAmount,
        A.DiscountRate,
        A.ContractSigningDate,
        A.ContractAssessmentDate,
        A.PROJECTID,
        A.ProjectName,
        A.ProjectAmount,
        A.ProjectFlagText,
        A.ProjectTypeText,
        A.AcceptanceStamp,
        TO_CHAR(A.MONTH,'YYYY') year,
        TO_CHAR(A.MONTH,'YYYY-MM') month,
        SUM(A.AMOUNT) AMOUNT
        FROM KER_REPORT_MANPOWER_MONEY_VIEW A
        where TO_CHAR(A.MONTH,'YYYY') between #{param1} and #{param2}
        GROUP BY A.CareerGroupText,
        A.LargeAreaText,
        A.SmallAreaText,
        A.MoneyBackDeptText,
        A.SaleDeptText,
        A.CustomerCode,
        A.CustomerName,
        A.ContractNo,
        A.ContractName,
        A.ContractAmount,
        A.ContractSoftwareAmount,
        A.SoftwareServiceAmount,
        A.DiscountRate,
        A.ContractSigningDate,
        A.ContractAssessmentDate,
        A.PROJECTID,
        A.ProjectName,
        A.ProjectAmount,
        A.ProjectFlagText,
        A.ProjectTypeText,
        A.AcceptanceStamp,
        TO_CHAR(A.MONTH,'YYYY'),
        TO_CHAR(A.MONTH,'YYYY-MM')
    </select>

    <select id="findDepTypeSubTotal" parameterType="Integer" resultType="com.bsoft.project.report.entity.primary.ProjectLevelManPowerMoneyAllByDepDO">
        SELECT A.CareerGroupText,
        A.LargeAreaText,
        A.SmallAreaText,
        A.MoneyBackDeptText,
        A.SaleDeptText,
        A.CustomerCode,
        A.CustomerName,
        A.ContractNo,
        A.ContractName,
        A.ContractAmount,
        A.ContractSoftwareAmount,
        A.SoftwareServiceAmount,
        A.DiscountRate,
        A.ContractSigningDate,
        A.ContractAssessmentDate,
        A.PROJECTID,
        A.ProjectName,
        A.ProjectAmount,
        A.ProjectFlagText,
        A.ProjectTypeText,
        A.AcceptanceStamp,
        (CASE WHEN a.DEPTYPE = 1 THEN '小区内' WHEN a.DEPTYPE = 2 THEN '小区外大区内' ELSE '大区外' END) DEPTYPE,
        SUM(A.AMOUNT) AMOUNT
        FROM KER_REPORT_MANPOWER_MONEY_VIEW A
        where TO_CHAR(A.MONTH,'YYYY') between #{param1} and #{param2}
        GROUP BY A.CareerGroupText,
        A.LargeAreaText,
        A.SmallAreaText,
        A.MoneyBackDeptText,
        A.SaleDeptText,
        A.CustomerCode,
        A.CustomerName,
        A.ContractNo,
        A.ContractName,
        A.ContractAmount,
        A.ContractSoftwareAmount,
        A.SoftwareServiceAmount,
        A.DiscountRate,
        A.ContractSigningDate,
        A.ContractAssessmentDate,
        A.PROJECTID,
        A.ProjectName,
        A.ProjectAmount,
        A.ProjectFlagText,
        A.ProjectTypeText,
        A.AcceptanceStamp,
        a.DEPTYPE
    </select>

    <select id="findDepTypeGroupByYear" parameterType="Integer" resultType="com.bsoft.project.report.entity.primary.ProjectLevelManPowerMoneyAllByDepByYearDO">
               SELECT A.CareerGroupText,
        A.LargeAreaText,
        A.SmallAreaText,
        A.MoneyBackDeptText,
        A.SaleDeptText,
        A.CustomerCode,
        A.CustomerName,
        A.ContractNo,
        A.ContractName,
        A.ContractAmount,
        A.ContractSoftwareAmount,
        A.SoftwareServiceAmount,
        A.DiscountRate,
        A.ContractSigningDate,
        A.ContractAssessmentDate,
        A.PROJECTID,
        A.ProjectName,
        A.ProjectAmount,
        A.ProjectFlagText,
        A.ProjectTypeText,
        A.AcceptanceStamp,
        (CASE WHEN a.DEPTYPE = 1 THEN '小区内' WHEN a.DEPTYPE = 2 THEN '小区外大区内' ELSE '大区外' END) DEPTYPE,
        TO_CHAR(A.MONTH,'YYYY') year,
        SUM(A.AMOUNT) AMOUNT
        FROM KER_REPORT_MANPOWER_MONEY_VIEW A
        where TO_CHAR(A.MONTH,'YYYY') between #{param1} and #{param2}
        GROUP BY A.CareerGroupText,
        A.LargeAreaText,
        A.SmallAreaText,
        A.MoneyBackDeptText,
        A.SaleDeptText,
        A.CustomerCode,
        A.CustomerName,
        A.ContractNo,
        A.ContractName,
        A.ContractAmount,
        A.ContractSoftwareAmount,
        A.SoftwareServiceAmount,
        A.DiscountRate,
        A.ContractSigningDate,
        A.ContractAssessmentDate,
        A.PROJECTID,
        A.ProjectName,
        A.ProjectAmount,
        A.ProjectFlagText,
        A.ProjectTypeText,
        A.AcceptanceStamp,
        TO_CHAR(A.MONTH,'YYYY'),
        a.DEPTYPE
    </select>

    <select id="findDepTypeGroupByMonth" parameterType="Integer" resultType="com.bsoft.project.report.entity.primary.ProjectLevelManPowerMoneyAllByDepByMonthDO">
            SELECT A.CareerGroupText,
        A.LargeAreaText,
        A.SmallAreaText,
        A.MoneyBackDeptText,
        A.SaleDeptText,
        A.CustomerCode,
        A.CustomerName,
        A.ContractNo,
        A.ContractName,
        A.ContractAmount,
        A.ContractSoftwareAmount,
        A.SoftwareServiceAmount,
        A.DiscountRate,
        A.ContractSigningDate,
        A.ContractAssessmentDate,
        A.PROJECTID,
        A.ProjectName,
        A.ProjectAmount,
        A.ProjectFlagText,
        A.ProjectTypeText,
        A.AcceptanceStamp,
        (CASE WHEN a.DEPTYPE = 1 THEN '小区内' WHEN a.DEPTYPE = 2 THEN '小区外大区内' ELSE '大区外' END) DEPTYPE,
        TO_CHAR(A.MONTH,'YYYY') year,
        TO_CHAR(A.MONTH,'YYYY-MM') month,
        SUM(A.AMOUNT) AMOUNT
        FROM KER_REPORT_MANPOWER_MONEY_VIEW A
        where TO_CHAR(A.MONTH,'YYYY') between #{param1} and #{param2}
        GROUP BY A.CareerGroupText,
        A.LargeAreaText,
        A.SmallAreaText,
        A.MoneyBackDeptText,
        A.SaleDeptText,
        A.CustomerCode,
        A.CustomerName,
        A.ContractNo,
        A.ContractName,
        A.ContractAmount,
        A.ContractSoftwareAmount,
        A.SoftwareServiceAmount,
        A.DiscountRate,
        A.ContractSigningDate,
        A.ContractAssessmentDate,
        A.PROJECTID,
        A.ProjectName,
        A.ProjectAmount,
        A.ProjectFlagText,
        A.ProjectTypeText,
        A.AcceptanceStamp,
        TO_CHAR(A.MONTH,'YYYY'),
        TO_CHAR(A.MONTH,'YYYY-MM'),
        a.DEPTYPE
    </select>
</mapper>
