<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsoft.project.report.repository.primary.ProjectLevelRepository">
    <select id="findAllSubTotal" parameterType="Integer" resultType="com.bsoft.project.report.entity.primary.ProjectAllSubTotalDO">
        select
            rownum as id,
            careerGroup,
            careerGroupText,
            largeArea,
            largeAreaText,
            smallArea,
            smallAreaText,
            moneyBackDept,
            moneyBackDeptText,
            saleDept,
            saleDeptText,
            customerCode,
            customerName,
            contractNo,
            contractName,
            contractAmount,
            contractSoftwareAmount,
            softwareServiceAmount,
            discountRate,
            contractSigningDate,
            contractAssessmentDate,
            projectId,
            projectName,
            projectAmount,
            projectFlag,
            projectFlagText,
            projectType,
            projectTypeText,
            acceptanceStamp,
            sum(workload) as workload,
            sum(manpowerCost) as manpowerCost,
            sum(expenses) as expenses,
            sum(projectBonus) as projectBonus
        from ker_report_project_all_view
        where year between #{param1} and #{param2}
        group by  careerGroup,
            careerGroupText,
            largeArea,
            largeAreaText,
            smallArea,
            smallAreaText,
            moneyBackDept,
            moneyBackDeptText,
            saleDept,
            saleDeptText,
            customerCode,
            customerName,
            contractNo,
            contractName,
            contractAmount,
            contractSoftwareAmount,
            softwareServiceAmount,
            discountRate,
            contractSigningDate,
            contractAssessmentDate,
            projectId,
            projectName,
            projectAmount,
            projectFlag,
            projectFlagText,
            projectType,
            projectTypeText,
            acceptanceStamp,
            rownum
    </select>

    <select id="findDepTypeSubTotal" parameterType="Integer" resultType="com.bsoft.project.report.entity.primary.ProjectDepTypeByYearDO">
        select
            rownum as id,
            careerGroup,
            careerGroupText,
            largeArea,
            largeAreaText,
            smallArea,
            smallAreaText,
            moneyBackDept,
            moneyBackDeptText,
            saleDept,
            saleDeptText,
            customerCode,
            customerName,
            contractNo,
            contractName,
            contractAmount,
            contractSoftwareAmount,
            softwareServiceAmount,
            discountRate,
            contractSigningDate,
            contractAssessmentDate,
            projectId,
            projectName,
            projectAmount,
            projectFlag,
            projectFlagText,
            projectType,
            projectTypeText,
            acceptanceStamp,
            depType,
            depTypeText,
            sum(workload) as workload,
            sum(manpowerCost) as manpowerCost,
            sum(expenses) as expenses,
            sum(projectBonus) as projectBonus
        from ker_report_project_dep_y_view
        where year between #{param1} and #{param2}
        group by  careerGroup,
            careerGroupText,
            largeArea,
            largeAreaText,
            smallArea,
            smallAreaText,
            moneyBackDept,
            moneyBackDeptText,
            saleDept,
            saleDeptText,
            customerCode,
            customerName,
            contractNo,
            contractName,
            contractAmount,
            contractSoftwareAmount,
            softwareServiceAmount,
            discountRate,
            contractSigningDate,
            contractAssessmentDate,
            projectId,
            projectName,
            projectAmount,
            projectFlag,
            projectFlagText,
            projectType,
            projectTypeText,
            acceptanceStamp,
            depType,
            depTypeText,
            rownum
    </select>
</mapper>
