<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsoft.sales.repository.primary.CooperationAgreementRepository">
    <select id="getSimilarPartnerCount" parameterType="String" resultType="Integer">
        select count(1) from ker_sales_partner_view a where UTL_MATCH.EDIT_DISTANCE_SIMILARITY(#{param1},a.partnername || a.stitchingAddress) > 80
    </select>
</mapper>
