<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsoft.hr.repository.primary.NewEntryPersonInfoRepository">

    <select id="findAllCompany" parameterType="Integer" resultType="com.bsoft.hr.entity.primary.PersonCompanyDO">
       SELECT DMMC AS COMPANYTEXT,DMSB AS COMPANY FROM BSOFTMIS.GY_DMZD WHERE DMLB = '3006' AND DMSB > 0
    </select>
</mapper>