<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsoft.person.repository.primary.BusinessCardRepository">
    <select id="getBusinessCardUnpaidCount" resultType="Integer">
        select count(1) from bsoft_portal.work_pub_card_view a
        where a.applyDate between #{cnd.startDate} and #{cnd.endDate}
        and a.status = 0
        <if test="cnd.deptId != null and cnd.deptId != ''">
            and a.dept = #{cnd.deptId}
        </if >
        <if test="cnd.inputContent != null and cnd.inputContent != ''">
            and (a.userId like '%' || #{cnd.inputContent} || '%'
            or a.userName like '%' || #{cnd.inputContent} || '%'
            or a.simpleCode like '%' || LOWER(#{cnd.inputContent}) || '%'
            or a.lshid like '%' || LOWER(#{cnd.inputContent}) || '%'
            or a.lshid like '%' || UPPER(#{cnd.inputContent}) || '%')
        </if >
    </select>

    <select id="getBusinessCardIdList" resultType="Integer">
        select a.id from bsoft_portal.work_pub_card_view a
        where a.applyDate between #{cnd.startDate} and #{cnd.endDate}
        and a.status = #{cnd.status}
        <if test="cnd.deptId != null and cnd.deptId != ''">
            and a.dept = #{cnd.deptId}
        </if >
        <if test="cnd.inputContent != null and cnd.inputContent != ''">
            and (a.userId like '%' || #{cnd.inputContent} || '%'
            or a.userName like '%' || #{cnd.inputContent} || '%'
            or a.simpleCode like '%' || LOWER(#{cnd.inputContent}) || '%'
            or a.lshid like '%' || LOWER(#{cnd.inputContent}) || '%'
            or a.lshid like '%' || UPPER(#{cnd.inputContent}) || '%')
        </if >
    </select>
</mapper>